<?xml version="1.0"?>
<settings>
    <profiles>
        <profile>
            <id>it-repo</id>

            <properties>
                <local.repo>${project.build.directory}/../../../local-repo</local.repo>
                <agent.path>net/onedaybeard/graftt/agent/${project.version}</agent.path>
                <agent.file>agent-${project.version}.jar</agent.file>
                <agent.jar>${local.repo}/${agent.path}/${agent.file}</agent.jar>
            </properties>

            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>local.central</id>
                    <url>@localRepositoryUrl@</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>local.central</id>
                    <url>@localRepositoryUrl@</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>